{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Wprowadzenie do inwestowania</h1>
    <p>Witaj na stronie wprowadzenia do inwestowania! Tutaj dowiesz się, czym jest giełda, jakie są podstawowe zasady inwestowania oraz jak rozpocząć swoją przygodę z rynkami finansowymi.</p>
    <ul>
        <li>Co to jest giełda i jak działa?</li>
        <li>Podstawowe strategie inwestycyjne.</li>
        <li>Ryzyko związane z inwestowaniem i jak je minimalizować.</li>
    </ul>
    <p>Przejdź do kolejnych sekcji, aby dowiedzieć się więcej!</p>
</div>
{% endblock %}
